<%- include('header.ejs') %>
<main class="mw personal">
    <h2>예지'S BLOG</h2>
    <h3>마이페이지</h3>
    <div><%= user.userId %></div>
    <div><%= user.userName %></div>
</main>
<%- include('footer.ejs') %>